@import 'reset';
@import './global/global';
@import './themes/dark';
@import './themes/light';

.App {
  width: 100vw;
  min-height: 100vh;
  background: var(--bg-primary);
  color: var(--color-primary);
  font: var(--font-m);
}
