.SortPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.searchBlock {
  display: flex;
  align-items: center;
  gap: 5px;
}

.inputWidth {
  width: 300px;
}

.selectBlock {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.position {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  z-index: 10;
}
