.Button {
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 0.5;
    //transform: translateY(-1px);
  }

  &:disabled {
    opacity: 0.3;
  }

  border: none;
}

.clear {
  margin: 0;
  padding: 0;

  background: none;
  border: none;
  outline: none;
  color: var(--color-primary);
}

.primary {
  width: var(--btn-small-width);
  height: var(--btn-small-height);
  border-radius: 10px;

  background: var(--btn-bg-primary);
  color: var(--btn-color-primary);
}
