.light {
  --bg-primary: #fff;
  --bg-secondary: #121212;

  --color-primary: #121212;
  --color-secondary: #fff;
  --color-error: #e65840;

  --bg-input-primary: #fff;

  --btn-bg-primary: #5252ea;
  --btn-color-primary: #fff;
}
